@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Heebo:wght@100..900&display=swap");
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-heebo: "Heebo", sans-serif;
  --font-hahmlet: "Hahmlet", sans-serif;
  --color-dark: #000;
  --color-light: #fff;
}
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Smooth scrolling for mobile testimonials */
.snap-x {
  scroll-behavior: smooth;
}

.snap-center {
  scroll-snap-align: center;
}

.snap-mandatory {
  scroll-snap-type: x mandatory;
}
